In [ ]:
"""
1.Write a python program to implement List-to-Series Conversion.
"""

import pandas as pd
ls=[1,2,3,4,5]
print(ls)
print("Type of numbers :: ",type(ls),"\n")
print("Convert Pandas List to Python Series")
print(pd.Series(ls))
print("Type of numbers :: ",type(ls),"\n")
print("Convert Pandas List to Python Series with given index")
series = pd.Series(ls, index = [1, 3, 5, 7, 9])
print(series)

[1, 2, 3, 4, 5]
Type of numbers ::  <class 'list'>

Convert Pandas List to Python Series
0    1
1    2
2    3
3    4
4    5
dtype: int64
Type of numbers ::  <class 'list'>

Convert Pandas List to Python Series with given index
1    1
3    2
5    3
7    4
9    5
dtype: int64

In [ ]:
"""
2. Write  a  python  program  to Generate  the  series  of  dates  from  1st  May,  
2021  to  12th May, 2021 (both inclusive).
"""

date_series = pd.date_range(start = '05-01-2021', end = '05-12-2021')
print("Date_series :: \n")
for i in date_series:
    print(i)

Date_series ::

2021-05-01 00:00:00
2021-05-02 00:00:00
2021-05-03 00:00:00
2021-05-04 00:00:00
2021-05-05 00:00:00
2021-05-06 00:00:00
2021-05-07 00:00:00
2021-05-08 00:00:00
2021-05-09 00:00:00
2021-05-10 00:00:00
2021-05-11 00:00:00
2021-05-12 00:00:00

In [ ]:
"""
3. Given a dictionary, convert it into corresponding dataframe and display it
"""

import pandas as pd

data = {
    'Name' : ['Ankit', 'Aishwarya', 'Shaurya', 'Shivangi'],
    'Age' : [23, 21, 22, 21],
    'University' : ['BHU', 'JNU', 'DU', 'BHU'],
}
df = pd.DataFrame(data,index = ['5', '4', '3', '2'])
print(df)

        Name  Age University
5      Ankit   23        BHU
4  Aishwarya   21        JNU
3    Shaurya   22         DU
2   Shivangi   21        BHU

In [ ]:
"""
4. Given a 2D List, convert it into corresponding dataframe and display it
"""
import pandas as pd
data = [[1,2,3],[4,5,6],[7,8,9]]
df = pd.DataFrame(data,columns=['First','Second','Third'],index=['a','b','c'])
print(df)

   First  Second  Third
a      1       2      3
b      4       5      6
c      7       8      9

In [ ]:
"""
5. Given a CSV file, read it into a dataframe and display it.
"""
import pandas as pd
print("Columns :\n")
df=pd.read_csv("Ex_04_05_input.csv")
print(df)
print("\n\nSubset Columns:\n")
df=pd.read_csv("Ex_04_05_input.csv",usecols=['Name'])
print(df)

Columns :

  Name  score grade
0   xy     20     A
1   mn     30    A+
2   pq     40     O


Subset Columns:

  Name
0   xy
1   mn
2   pq

In [ ]:
"""
6. Given a dataframe, sort it by multiple columns.
"""
import numpy as np
import pandas as pd

df = pd.DataFrame({'Name': ['Raj', 'Akhil', 'Sonum', 'Tilak', 'Divya', 'Megha'],'Age': [20, 22, 21, 19, 21, 21],
                   'Rank': [1,10,8, 9,3,15]
                   })
print(df)
print("\n\nSorted\n\n")
print(df.sort_values(by=['Rank','Age'], ascending=[True,False] ))

    Name  Age  Rank
0    Raj   20     1
1  Akhil   22    10
2  Sonum   21     8
3  Tilak   19     9
4  Divya   21     3
5  Megha   21    15


Sorted


    Name  Age  Rank
0    Raj   20     1
4  Divya   21     3
2  Sonum   21     8
3  Tilak   19     9
1  Akhil   22    10
5  Megha   21    15